{% load static %}
    {% include 'base.html' %}
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

<div class="slider-container">
  <div class="slider-images">
    <img src="{% static 'img/mutton-biriyani-recipe.jpeg' %}" alt="Food 1" />
    <img src="{% static 'img/burger.jpg' %}" alt="Food 2" />
    <img src="{% static 'img/cake.jpg' %}" alt="Food 3" />
  </div>
  <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
  <a class="next" onclick="moveSlide(1)">&#10095;</a>
</div>
<div class="food-category">
  <h2>What's on your mind?</h2>
  <div class="food-items-wrapper">
    <button class="nav-button prev">&#8592;</button>
    <div class="food-items">
      {% for food in foodcategory %}
      <a href="{% url 'category_restaurants' food.id %}" class="food-item-link">
          <div class="food-item">
              <img src="{{food.category_image.url}}" alt="can't load image" />
              <p>{{ food.food_type }}</p>
          </div>
      </a>
      {% endfor %}
   </div>
    <button class="nav-button next">&#8594;</button>
  </div>
</div>
<div id="restaurant-recommendations">
  <!-- Recommendations will be inserted here by JavaScript -->
</div>
<script>
  var userLocationJSON = "{{ selected_location_json|escapejs }}";
  var allRestaurantsJSON = "{{ restaurants_json|escapejs }}";
</script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
