{% load static %}
    {% include 'base.html' %}
    <link rel="stylesheet" href="{% static 'css/restaurant.css' %}" />

    <section class="hero">
        <img src="{{ restaurant.restaurant_image.url }}" alt="Restaurant Hero" class="hero-image">
        <h1>{{ restaurant.restaurant_name }}</h1>
    </section>

<!-- Order Online Section -->
    <section id="order-online">
        <h2>Order Online</h2>

        <div class="food-container">
            {% for record in inventory_records %}
                <!-- Food Card -->
                <div class="food-card">
                    <img src="{{ record.food_items.food_image.url }}" alt="{{ record.food_items.food_name }}" class="food-img">
                    <div class="food-details">
                        <h3>{{ record.food_items.food_name }}</h3>
                        <p>{{ record.food_items.food_description }}</p>
                        <p class="price">${{ record.food_items.food_price }}</p>
                        <p class="quantity-available">Available: {{ record.quantity_available }}</p>
                        <a href="{% url 'add_to_cart' record.food_items.id %}" class="add-to-cart-btn">Add to Cart!</a>

                        <!-- <button class="add-to-cart-btn">Add to Cart</button> -->
                    </div>
                </div>
            {% empty %}
                <p>No food items available at the moment.</p>
            {% endfor %}
        </div>
    </section>
</body>
</html>

